# Dependencies
node_modules/

# Build output
dist/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun.lockb

# Editor settings
.idea/
.vscode/**
!.vscode/extensions.json
*.sw?

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*.local
.env.local

# Coverage
coverage/

# TypeScript
tsbuildinfo.json
*.tsbuildinfo

# Misc
*.log
